<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><strong>Profile</strong></h1>
 {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
Username<br>
{{userdetails.username}}<br><br>
First Name<br>
{{userdetails.first_name}}<br><br>
Last Name<br>
{{userdetails.last_name}}<br><br>
Account Details<br>
{{userdetails.bank_name}}<br>
{{userdetails.account_name}}<br>
{{userdetails.account_number}}<br><br>
{{userdetails.auser.amount}}<br>

<a href="{% url 'form_app:edit_profile' %}">Edit Profile</a>
{% if user.is_authenticated %}
<a href="{% url 'form_app:user_amount' userdetails.pk %}">Balance</a>
{% else %}
{% endif %}

</body>
</html>