{% extends 'base.html'%}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Users List</h3>
            <h6 class="font-weight-normal mb-0">All list of user in the application</h6>
          </div>
          <div class="col-12 col-xl-4">
           <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
<!--              <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--               <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)-->
<!--              </button>-->
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                <a class="dropdown-item" href="#">January - March</a>
                <a class="dropdown-item" href="#">March - June</a>
                <a class="dropdown-item" href="#">June - August</a>
                <a class="dropdown-item" href="#">August - November</a>
              </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
        <div class="col-md-12 grid-margin transparent">
          <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
              <div class="card card-tale">
                <div class="card-body">
                  <p class="mb-4">Today’s Bookings</p>
                  <p class="fs-30 mb-2">4006</p>
                  <p>10.00% (30 days)</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
              <div class="card card-dark-blue">
                <div class="card-body">
                  <p class="mb-4">Total Bookings</p>
                  <p class="fs-30 mb-2">61344</p>
                  <p>22.00% (30 days)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
              <div class="card card-light-blue">
                <div class="card-body">
                  <p class="mb-4">Number of Meetings</p>
                  <p class="fs-30 mb-2">34040</p>
                  <p>2.00% (30 days)</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                  <div class="card-body">
                    <p class="mb-4">Number of Clients</p>
                    <p class="fs-30 mb-2">47033</p>
                    <p>0.22% (30 days)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
  <!--              <p class="card-title">User Table</p>-->
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="example" class="display expandable-table" style="width:100%">
                      <thead>
                        <tr>

                {% if messages %}
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
                {% endif %}
                          <th>Username</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Email</th>
                          <th>Balance</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for users in listusers %}
                        <tr>
                            <td>
                                {% if not users.is_active %}
                                <a class="p-2 rounded border text-danger border-danger" href="{% url 'form_app:reactivate' users.id %}">{{users.username}}</a>

                                {% else %}
                                <a class="p-2 rounded border text-primary border-primary" href="{% url 'form_app:deactivate' users.id %}">{{users.username}}</a>

                            {% endif %}
                            </td>
                            <td>{{users.first_name}}</td>
                            <td>{{users.last_name}}</td>
                            <td>{{users.email}}</td>
                            <td>
                                <a href="{% url 'form_app:adjust_amount' users.pk %}">{{users.auser.currency}}{{users.auser.amount}}</a>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}