<!--{% load static %}-->
<!--<!DOCTYPE html>-->
<!--<html >-->
<!--<head>-->
<!--  <title>Secure Login Access</title>-->
<!--    -->
<!--</head>-->
<!--<body>-->

<!--       {% if messages %}-->
<!--    {% for message in messages %}-->
<!--    <p>{{message}}</p>-->
<!--    {% endfor %}-->
<!--    {% endif %}-->
<!--                <form action="" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="W3TBLsUD8jfoZ2bdMnJ3FlxzvoSvy35pC9i/DLdPcRccOWTY3g7tjLMIanhvga2fpdKeGFSNGN2eZ9yYCWE6wr9nKzqV5KwzAwSYaHR2LiquFt8kNvuPoj14IqKw4REa">-->
<!--                    {% csrf_token %}-->

<!--                            <input type="text" name="username" placeholder="Username" data-form-field="name" class="form-control" value="" id="name-contact-form-2-udDl4fLW5N">-->
<!--                            <input type="password" name="password" placeholder="Password" data-form-field="email" class="form-control" value="" id="email-contact-form-2-udDl4fLW5N">-->
<!--                            <button type="submit" class="btn btn-primary display-7">Sign In</button>-->
<!--                </form>-->

<!--    </body>-->
<!--</html>-->















{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sign into Found Ever</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/found_ever_logo2.jpeg' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <a href="{% url 'form_app:home' %}"><img src="{% static 'images/found_ever.jpg' %}" alt="logo"></a>
              </div>
              <style>
                                .noaccess{
                                        display: flex;
                                        width: 120px;
                                        background-color: rgb(121, 121, 121);
                                        font-family:Arial, Helvetica, sans-serif;
                                        position: absolute;
                                        left: 100px;
                                        top: 90px;
                                        border-radius: 10px;
                                        font-size: small;
                                        padding-top: 5px;
                                        align-items: center;
                                        justify-content: center;
        }
                    </style>
                  <script>
        setTimeout(function() {
        var message = document.querySelector('.noaccess');
        if (message) {
            message.remove();
        }
    }, 5000
    );
    </script>
                        {% if messages %}
                        {% for message in messages %}
                        <span class="noaccess"><p>{{message}}</p></span>
                        {% endfor %}
                        {% endif %}
              <h4>Hello! let's get started</h4>
              <h6 class="font-weight-light">Sign in to continue.</h6>
              <form action="" method="POST" class="pt-3">
                  {% csrf_token %}
                <div class="form-group">
                  <input type="email" name="username" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Enter Your Email">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="mt-3">
                  <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Sign In">
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
<!--                    <label class="form-check-label text-muted">-->
<!--                      <input type="checkbox" class="form-check-input">-->
<!--                      Keep me signed in-->
<!--                    </label>-->
                  </div>
                </div>
                <div class="mb-2">
<!--                  <button type="button" class="btn btn-block btn-facebook auth-form-btn">-->
<!--                    <i class="ti-facebook mr-2"></i>Connect using facebook-->
<!--                  </button>-->
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="{% url 'user_login:registration' %}" class="text-primary">Create</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

</html>
