<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body><h1>-->
<!--    ENTER OTP-->
<!--</h1>-->
<!-- {% if messages %}-->
<!--    {% for message in messages %}-->
<!--    <p>{{message}}</p>-->
<!--    {% endfor %}-->
<!--    {% endif %}-->
<!--<form action="" method="POST">-->
<!--    {% csrf_token %}-->
<!--    <label for="otp_code">Otp</label>-->
<!--    <input type="text" name="otp_code" id="otp_code">-->
<!--    <input type="submit" value="Verify"><br><br>-->
<!--</form>-->
<!--Need new otp?<a href="{% url 'form_app:resend_email' %}">Resend Otp</a>-->
<!--</body>-->
<!--</html>-->








{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Verify your email</title>
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/found_ever.jpg' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'images/found_ever.jpg' %}" alt="logo">
              </div>
              <style>
                .noaccess{
                        display: flex;
                        width: 500px;
                        background-color: rgb(121, 121, 121);
                        font-family:Arial, Helvetica, sans-serif;
                        position: absolute;
                        left: 20px;
                        top: 90px;
                        border-radius: 10px;
                        font-size: small;
                        padding-top: 5px;
                        align-items: center;
                        justify-content: center;
}
    </style>
    <script>
      setTimeout(function() {
      var message = document.querySelector('.noaccess');
      if (message) {
          message.remove();
      }
  }, 5000
  );
  </script>
                {% if messages %}
                {% for message in messages %}
                <span class="noaccess"><p>{{message}}</p></span>
                {% endfor %}
                {% endif %}
              <h4>Hello! Verify Your Email</h4>
              <h6 class="font-weight-light">Copy and drop the OTP sent to your email address here.</h6>
              <form action="" method="POST" class="pt-3">
                  {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" name="otp_code" placeholder="Enter OTP" >
                </div>
                <div class="mt-3">
                  <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Verify">
                </div>
              </form>
                Need new otp?<a href="{% url 'form_app:resend_email' %}">Resend Otp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
</body>

</html>

