{% extends 'base.html'%}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Welcome {{request.user.username}}</h3>
                    <h6 class="font-weight-normal mb-0">Edit your profile here</h6>
                </div>
                <style>
                                .noaccess{
                                        display: flex;
                                        width: 120px;
                                        background-color: rgb(121, 121, 121);
                                        font-family:Arial, Helvetica, sans-serif;
                                        position: absolute;
                                        left: 100px;
                                        top: 90px;
                                        border-radius: 10px;
                                        font-size: small;
                                        padding-top: 5px;
                                        align-items: center;
                                        justify-content: center;
        }
                    </style>
                  <script>
        setTimeout(function() {
        var message = document.querySelector('.noaccess');
        if (message) {
            message.remove();
        }
    }, 5000
    );
    </script>
                        {% if messages %}
                        {% for message in messages %}
                        <span class="noaccess"><p>{{message}}</p></span>
                        {% endfor %}
                        {% endif %}
                <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                        <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
<!--                            <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button"-->
<!--                                id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                                <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)-->
<!--                            </button>-->
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                                <a class="dropdown-item" href="#">January - March</a>
                                <a class="dropdown-item" href="#">March - June</a>
                                <a class="dropdown-item" href="#">June - August</a>
                                <a class="dropdown-item" href="#">August - November</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-description">
              Update your profile here
            </p>
            <form action="" method="POST" class="forms-sample">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            {{profileform.username}}
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">First Name</label>
                            {{profileform.first_name}}
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Last Name</label>
                            {{profileform.last_name}}
                          </div>
<!--                          <div class="form-group">-->
<!--                            <label for="exampleInputConfirmPassword1">Email</label>-->
<!--                            <input type="email" class="form-control" id="" placeholder="Email" {{profileform.email}}>-->
<!--                          </div>-->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Bank Name</label>
                            {{profileform.bank_name}}
                          </div>
                          <div class="form-group">
                            <label for="exampleInputConfirmPassword1">Account Name</label>
                            {{profileform.account_name}}
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Acount Number</label>
                            {{profileform.account_number}}
                          </div>
                    </div>
                </div>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
          </div>
        </div>
      </div>
</div>

{% endblock %}